:root {
    --dark: #2a3b42;
    --light: #fff;
    --accent: #ae682b;
    --font-family1-serif: 'Molle', 'Times New Roman', serif;
    --font-family2-sans-serif: 'Poiret One', 'arial', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

ol,ul {
	list-style: none;
}

.navbar {
    width: 100%;
    background-color: var(--dark);
    padding-left: 0px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar li {
	display: block;
	width: 18vw;
    margin-top: 3.5vw;
	float: left;
	margin-left: 0px;
}

.navbar a {
	display: block;
	padding: 1vw;
	text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poiret One', 'arial', sans-serif;
    font-weight: 900;
    letter-spacing: .7vw;
    background-color: var(--dark);
	color: var(--light);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar a:hover {
    background-color: #ABB6BB;
}

.logo {
    display: inline-block;
}

.logo img {
    max-width: 10vw;
    max-height: 10vw;
    vertical-align: middle;
}

body {
    background: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-color: #000;
    font-size: 1.75vw;
    line-height: 1.5;
} 

header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: var(--dark);
    color:  #fff;
    font-family: 'Poiret One', 'arial', sans-serif;
    float: right;
}

h1 {
    font-size: 1.75vw;
    font-family: 'Poiret One', 'arial', sans-serif;
    margin-top: 5vw;
    margin-left: 25%;

}

h2 {
    margin-top: 0px;
    margin-left: 2%;
    font-size: 5.75vw;
    font-family: 'Molle', cursive; 'Times New Roman'; serif;
    font-style: italic; 
    line-height: .8;
    text-align: center;
}

h3 {
    margin-top: -1vw;
    margin-left: 2%;
    margin-right: 25%;
    font-size: 2.75vw;
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: right;
}

h4 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2.5vw;
    font-family: 'Poiret One', 'arial', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    color: #f7d4c6;
}

h5 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 2.5vw;
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .7vw;
    color: var(--accent);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #2a3b42;
    color: #fff;
    text-align: center;
    padding: 1vw;
}

.header{
    background-color: #fff;
    text-align: left;
    padding: 2vw;
}

.landing{
    max-width: 100%;
    margin-bottom: 0%;
    background-color: var(--dark);
    color: var(--light);
    padding: 5vw 10vw 10vw 10vw;
}

.about{
    max-width: 100%;
    margin: 0px;
    padding: 10vw 7vw 10vw;
    box-sizing: inherit;
    display: block;
    background: #f5f3ef;
    font-size:calc(6px + 1.5vw);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-color: #000;
    line-height: 1.5;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.about-photo{
    width: 100%;
    max-width: 450px;
    padding: 0vw 2vw 0vw 2vw;
}

img{
    width: 100%;
    border-radius: 2vw;
}

.work{
    width: 100%;
    margin: 0px;
    padding: 0vw 5vw 5vw 5vw;
    box-sizing: inherit;
    display: block;
    background: #ABB6BB;
    font-size:calc(6px + 1.5vw);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-color: #000;
    line-height: 1.5;
    text-align: center;
    justify-content: space-between;
}

.contact{
    width: 100%;
    margin: auto;
    padding: 0vw 5vw 5vw 5vw;
    box-sizing: inherit;
    display: block;
    background: #eeeae5;
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-color: #000;
    line-height: 1.5;
    text-align: left;
}

input[type=text], select, textarea {
    margin: auto;
    width: 50%;
    padding: 15px;
    border: 1px solid #ae682b;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px; 
    resize: vertical;
    display: block;
}

input[type=submit] {
    margin: auto;
    width: 50%;
    background-color: #eeeae5;
    color: black;
    padding: 12px 20px;
    border: 1px solid #ae682b;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.submit:hover {
    margin: auto;
    width: 50%;
    background-color: #ffffff;
    color: black;
    padding: 12px 20px;
    border: 1px solid #ae682b;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center; 
}

label {
    margin: auto;
    width: 50%;
    text-align: left;
    display: block;
}

.contact-links{
    width: 100%;
    display: inline-block;
    background-color: var(--dark);
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
}    

.contact-links li {
	display: inline-block;
	width: 300px;
    margin-top: 36px;
	margin-left: 0px;
}

.contact-links a {
	display: block;
	padding: 3px;
	text-decoration: none;
    font-family: 'Poiret One', 'arial', sans-serif;
    font-weight: 900;
    letter-spacing: .7vw;
    text-transform: uppercase;
    font-size:calc(5px + .5vw);
    background-color: var(--dark);
	color: var(--light);
}

.contact-links img{
    max-width: 30px;
}

.footer p{
    padding: 30px 0px 0px 0px;
    font-size:calc(6px + 1.5vw);
}